/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}

/* en fr es it de ja cn ko ru ar */
.item_en { background-color: #F89406 !important; }
.item_fr { background-color: #3A87AD !important; }
.item_es { background-color: #B94A48 !important; }
.item_it { background-color: #F39406 !important; }
.item_de { background-color: #468847 !important; }
.item_ja { background-color: #F8C406 !important; }
.item_cn { background-color: #F83406 !important; }
.item_ko { background-color: #F894F6 !important; }
.item_ru { background-color: #F894C6 !important; }
.item_ar { background-color: #F89436 !important; }

.fg_bigger { font-size: larger !important; }
.fg_white { color: #FFFFFF !important; }

